@use "../../styles/main.scss" as *;

.space1{
    .space_container{
        .space_body{
            display: flex;
            flex-direction: row;
            gap: 15px;
            .map_component{
                width: 75vw;
                height: 100%;
            }
        }
    }
}
@media (max-width: 960px) {
    .space1{
        .space_container{
            .space_body{
                display: flex;
                flex-direction: column;
                height: 77vh;
                gap: 15px;
                .map_component{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
