@use "../../../styles/main.scss" as *;

.list-programs-container {
  padding: 20px;
  background: $basic-white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.list-programs-title {
  text-align: center;
  color: $primary-blue;
  margin-bottom: 15px;
}

.list-programs-loading,
.list-programs-error {
  text-align: center;
  color: $danger-color;
}

.list-programs {
  list-style: none;
  padding: 0;
}

.list-program-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $shade-light-grey;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  transition: 0.3s;
}

.list-program-item:hover {
  background: $basic-grey;
}

.program-info h4 {
  margin: 0;
  color: $shade-grey;
}

.program-info p {
  margin: 5px 0 0;
  color: $shade-mid-grey;
}

.program-actions {
  display: flex;
  gap: 10px;
}

.edit-button {
  background-color: $warning-color;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.delete-button {
  background-color: $danger-color;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.edit-button:hover {
  background-color: $warning-color;
}

.delete-button:hover {
  background-color: $danger-color;
}
