@use "../../styles/main.scss" as *;

.space_container {
    background-color: $basic-white;
    .space_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;    
        writing-mode: vertical-rl;
        cursor: pointer;
        *{
            @include transition;
        }
        &:has(.is_visible){
            color: $primary-blue;
        }
        .set_is_visible {
            transform: rotate(90deg);
        }
    }
    .space_body {
        @include gap;
        width: calc(100% - 45px);
        flex-direction: column;
        .space_body_tile {
            background-color: $shade-light-grey;
            @include reverseCard;
            padding: 8px;
            box-sizing: border-box;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            width: auto; 
            height: calc(100% - 55px);
            overflow-y: auto;
            align-items: center;
            .variable_element {
                @include gap;
                flex: 0 1;  
                min-height: 50%; 
                box-sizing: border-box;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                padding: 5px;
                width: clamp(200px, 100%, 45vw);
                canvas{
                    height: 100%;
                    width: 100%;
                }
            }
        }
        
        .space_body_block{
            height: calc(100% - 55px);
        }
        .space_body_footer{
            @include gap;
            justify-content: center;
            .decade_percentile_selection{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }
    }
    .space_body.hidden {
        display: none;  
    } 
      
}
.space_container:has(.space_body.hidden){
    flex: 0 0 50px;
    overflow: hidden;
}

@media (max-width: 1160px) {
    .space_container{
        width: 100%;
        .space_header{
            display: none;
        }
        .space_body{
            width: 100%;
            .space_body_tile{
                .variable_element{
                    min-width: 90vw;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .space_container {
        height: calc(50vh - 15px);
        .space_body{
            .space_body_tile{
                gap: 6px;
                .variable_element{
                    padding: 0;
                    min-height: 100%;
                    width: calc(100% - 5px);
                }
            }
        }
        
    }
}
