@use "../../styles/main.scss" as *;

.home_component_visualisation{
    @include gap;
    flex-direction: column;
    height: fit-content;
    padding: 8px;
    .home_body{
        @include gapLarger;
        flex-flow: row wrap;
        width: 100%;
        min-height: calc(100vh - 20px);
        max-height: fit-content;
        .space_container {
            @include card;
            @include gap;
            flex-direction: row;
            padding: 8px;
            height: calc(100vh - 20px);
        }
        > * {
            flex: 1 1 calc(50% - 180px);
            max-width: 100%;
        }
    }
}

@media (max-width: 760px) {
    .home_component_visualisation{
        .home_body{
            .space_container {
                height: calc(50vh - 15px);
            }
        }
    }   
}
