@use "../../styles/main.scss" as *;

.variable_element.body{
    display: flex;
    flex-direction: column;
    .map_base {
        height: 100%;
        width: 100%;
        .leaflet-container {
            height: 100%;
            width: 100%;
            @include card;
            .leaflet-control-container{
                .leaflet-top{
                    .leaflet-control-layers{
                        display: none;
                    }
                }
            }
        }
    }
}
