@use "../../styles/main.scss" as *;

.variable_element.body{
    display: flex;
    flex-direction: column;
    .map_base {
        height: 100%;
        width: 100%;
        .leaflet-container {
            height: 100%;
            width: 100%;
            @include card;
            
            .leaflet-control-container{
                .leaflet-top{
                    display: none;
                }
                .leaflet-bottom.leaflet-right{
                    .leaflet-control-simpleMapScreenshoter.leaflet-control{
                        border: none;
                        margin: 0;
                        bottom: 8px;
                        right: 8px;
                        .leaflet-control-simpleMapScreenshoter-btn{
                            display: flex;
                            justify-self: center;
                            @include card;
                            @include transition;
                            &:hover{
                                filter: contrast(0.8);
                            }
                        }
                    }
                }
            }
        }
    }
}
