@use "../../styles/main.scss" as *;

.space2{
    .space_container{
        .space_body{
            height: fit-content;
            gap: 5px;
            .chart_container{
                display: flex;
                flex-flow: row wrap;
                gap: 10px;
                justify-content: center;
                .variable-chart{
                    flex: 1;
                    max-width: 50%;
                    min-width: 40%;
                    flex-shrink: none;
                    @include card;
                    padding: 8px;
                    div{
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .space2{
        .space_container{
            .space_body{
                .chart_container{
                    flex-flow: column wrap;
                    .variable-chart{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}



