@use "../../styles/main.scss" as *;

.control_component {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
  flex: 1;
}
.control_component {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media (max-width: 760px) {
  .control_component{
    flex-direction: row;
    gap: 8px;
  }
}

