@use "../../styles/main.scss" as *;

.control_component {
  @include gap;
  flex-direction: column;
  .selected_mode{
    @include gap;
    flex-direction: column;
    select {
      width: 105px;
      padding: 5px;
      border-radius: 5px;
      @include blueEffect;

      &:focus {
        @include blueEffectFocus;
      }
    }
    .button_container{
      font-size: 0.9rem;
      height: 30px;
      width: 105px;
    }
  }
  .selected_scenario{
    .scenario_container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .scenario_color{
        height: 14px;
        width: 14px;
        border-radius: 5px;
      }
    }
  }
}