@use "../../styles/main.scss" as *;

.leaflet-pane{
    .leaflet-popup{
        .leaflet-popup-content-wrapper{
            @include card;
            width: 227px;
            background-color: rgba($basic-black, 0.96);
            .leaflet-popup-content{
                font-family: 'Roboto-Regular';
                margin: 5px;
                width: fit-content;
                .leaflet-elements-container{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: fit-content;
                    color: $basic-white;
                    div{
                        width: max-content;
                    }
                    .control_container{
                        display: flex;
                        gap: 5px;
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .leaflet-popup-tip-container{
            .leaflet-popup-tip{
                background-color: $basic-black;
            }
        }
        .leaflet-popup-close-button{
            color: $basic-white;
        }
        .leaflet-popup-close-button:hover{
            color: rgba($basic-white, 0.6);
        }
    }
}