.DS_Store
node_modules
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json

# Backend
__pycache__
.venv
*.dmp
checked_folder_hashes.db
Backend/*.log
Backend/.env

# Coverage files and folders
Backend/*coverage*
front/*coverage*


# Static files
Backend/static/*
Backend/tests/*

dump.rdb

Backend/error_log/*