@use "../../styles/main.scss" as *;
.header_component{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    @include shadow;
    //important to avoid the different display durring the tutorial
    position: fixed !important;
    width: 100%;
    height: 55px;
    background-color: white;
    z-index: 10000;
    .action_header{
        @include gap;
        width: fit-content;
        align-items: center;
        &.left{
            cursor: pointer;
            @include transition;
            &:hover{
                color: $primary-blue;
            }
        }
    }
}