@use "../../styles/main.scss" as *;
.home_component{
    .main_body{
        @include headerSpace;
        height: fit-content;
        min-height: 100vh;
        .main_scroll_area{
            display: flex;
            flex-flow: row wrap;
            gap: 15px;
            .no_results{
                height: 50vh;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content:center;
            }
            // need to change this for the orgeval
            // :not(.highlight) {
            //     display: none;
            // }
        }
        
    }
}