@use "../../styles/main.scss" as *;

.input_component{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: fit-content;
    input{
        border: solid 1 px $primary-blue;
        cursor: pointer;
    }  
    input:checked + label{
        color: $primary-blue;
    }
}


