@use "../styles/main.scss" as *;

.custom_map_buttons {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: white;
    @include card;
    .logo_container{
        border-bottom: solid 2px $basic-grey;
        cursor: pointer;
        @include transition;
    }:last-child{
        border: none;
    }
    .logo_container:hover{
        background-color: $basic-grey;
    }:last-child:hover{
        border-radius: 0 0 5px 5px; 
    }:first-child:hover{
        border-radius: 5px 5px 0 0;
    }
}