
@font-face {
  font-family: 'Roboto-Regular';
  src: url('@fonts/Roboto-Regular.woff2') format('woff2'),
  url('@fonts/Roboto-Regular.woff') format('woff');
  font-style: normal;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
  }
  
  body {
    font-family: 'Roboto-Regular';
  }

  // in order to highlight the element you want to show in the tutoriel, this class is added
  .highlight {
    position: relative;
    z-index: 10001;
  }

  