@use "./variables.scss" as *;

//scss short cut that you can create or import in .scss files

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

@mixin innerShadow {
    box-shadow: inset rgba(9, 30, 66, 0.25) 0px 1px 1px, inset rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

@mixin card {
    @include shadow;
    border-radius: 5px;
}

@mixin reverseCard {
    @include innerShadow;
    border-radius: 5px;
}

@mixin gap{
    display: flex;
    gap: 8px;
}

@mixin gapLarger{
    display: flex;
    gap: 12px;
}


@mixin transition{
    transition: all 200ms ease-in-out;
}

@mixin headerSpace{
    padding: 63px 8px 8px 8px;
}

@mixin blueEffect{
    border: 1px solid $basic-grey;
    transition: border-color 0.3s ease-in-out;
}

@mixin blueEffectFocus{
    border-color: $primary-blue;
    outline: none;
    box-shadow: 0px 0px 5px rgba($primary-blue, 0.5);
}