@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

@mixin innerShadow {
    box-shadow: inset rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}

@mixin card {
    @include shadow;
    border-radius: 5px;
}

@mixin transition{
    transition: all 200ms ease-in-out;
}

@mixin headerSpace{
    padding: 75px 10px 10px 10px;
}

@mixin textTruncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



// add more
