// main colors
$primary-blue: rgb(0, 162, 176);
$secondary-blue: rgba(75, 192, 192);

// shades of grey
$shade-grey: rgb(64, 64, 64);
$shade-mid-grey: rgb(102, 102, 102);
$shade-light-grey: rgb(155, 155, 155);
$shade-lighter-grey:rgba(251, 251, 251);

// color for text, logo
$basic-black: rgb(46, 46, 46);
$basic-grey: rgb(231, 231, 231);
$basic-white: rgb(255, 255, 255);

// pop-up and signal colors
$danger-color: rgb(255, 99, 132);
$success-color: rgb(18, 212, 0);

$scenario-1: rgb(75, 124, 204);
$scenario-2:rgb(0, 217, 241);
$scenario-3:rgb(255, 134, 88);
$scenario-4:rgb(204, 89, 72);
$scenario-5: rgb(255, 211, 25);
$scenario-6:rgb(255, 99, 132);
$scenario-8: rgb(102, 36, 0);

:root {
  --primary-blue: #{$primary-blue};
  --secondary-blue: #{$secondary-blue};

  --shade-grey: #{$shade-grey};
  --shade-mid-grey: #{$shade-mid-grey};
  --shade-light-grey: #{$shade-light-grey};
  --shade-lighter-grey: #{$shade-lighter-grey};

  --basic-black: #{$basic-black};
  --basic-grey: #{$basic-grey};
  --basic-white: #{$basic-white};

  --danger-color: #{$danger-color};
  --success-color: #{$success-color};

  // scenario palette colors
  --scenario-1: #{$scenario-1};
  --scenario-2: #{$scenario-2};
  --scenario-3: #{$scenario-3};
  --scenario-4: #{$scenario-4};
  --scenario-5: #{$scenario-5};
  --scenario-6: #{$scenario-6};
  --scenario-7: #{$success-color};
  --scenario-8: #{$scenario-8};
}
