@use "../../styles/main.scss" as *;
.import_container{
    @include gap;
    flex-direction: column;
    .import_body{
        @include gap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .button_max{
            max-width: 100%;
        }
    }
    .import_footer{
        text-align: center;
    }
}