@use "../../../styles/main.scss" as *;

.admin_dashboard{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
  padding: 10px;
  @include card;
  width: fit-content;
  .admin_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .admin_nav{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
}