@use "../../../styles/main.scss" as *;

.edit-program-form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  label {
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid $shade-mid-grey;
    border-radius: 5px;
  }

  .edit-button {
    background-color: $primary-blue;
    color: $basic-white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;

    &:hover {
      background-color: $primary-blue;
    }
  }
}
