@use "../../styles/main.scss" as *;

.space_container {
    @include card;
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 8px;
    flex: 1 1 calc(50% - 24px);
    height: calc(100vh - 20px);
    .space_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        .set_is_visible, .is_visible {
            transition: transform 0.3s ease;
            transform: rotate(-90deg);
            cursor: pointer;
        }
        .set_is_visible {
            transform: rotate(90deg);
        }
    }
    .space_body {
        transition: all 0.3s ease-in-out;
        width: calc(100% - 45px);
        display: flex;
        flex-flow: row wrap;
        gap: 8px;
        .variable-chart{
            width: calc(50% - 4px);
            height: fit-content;
        }
    }
    .space_body.hidden {
        display: none;  
    }   
}
.space_container:has(.space_body.hidden){
    flex: 0 0 50px;
    overflow: hidden;
}
