@use "../../styles/main.scss" as *;

@keyframes modal-fade-in {
from {
    opacity: 0;
    transform: translateY(-20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes overlay-fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

.modal_overlay {
    position: fixed;
    inset: 0;
    background-color: rgba($shade-grey, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10004;
    animation: overlay-fade-in 0.3s ease-out;
    .modal_action {
        @include gap;
        background: white;
        padding: 8px;
        @include card;
        flex-direction: column;
        width: 300px;
        animation: modal-fade-in 0.3s ease-out;
        .modal_action_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .modal_action_body{
            @include gap;
            flex-direction: row;
            justify-content: center;
        }
    }
}
