@use "../../styles/main.scss" as *;

.button_container{
    display: flex;
	align-items: center;
    width: fit-content;
    height: fit-content;
	justify-content: center;
    color: $basic-white;
    background-color: $primary-blue;
	padding:5px;
    border-radius:5px;
    border: 1px solid $primary-blue;
    @include transition;
}
.button_container:hover{
    background-color: transparent;
    color: $primary-blue;
}

.button_on_dark:hover{
    color: $basic-white;
}



