@use "../../styles/main.scss" as *;

.range_container{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    input {
        height: fit-content;
        width: 22px;
        border: none;
        border-radius: 3px;
        padding: 2px;
        display: flex;
        background-color: rgb(231, 231, 231);
        box-shadow: inset rgba(9, 30, 66, 0.25) 0px 1px 1px, inset rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
      }
  
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      input[type=number] {
        -moz-appearance: textfield;
      }
  
      input:focus {
        outline: none; 
      }
}