@use "../../styles/main.scss" as *;

.range_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px;
}

.range_labels {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;
    margin-bottom: 12px;
}

.range_slider {
    width: 80%; 
    max-width: 600px;
    height: 10px;
    background: $primary-blue;
    border-radius: 5px;
    position: relative;
    margin: 12px auto;
}

.range_thumb {
    width: 18px;
    height: 18px;
    background: $primary-blue;
    border-radius: 50%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range_thumb:active {
    cursor: grabbing;
}

.range_track {
    background: $basic-grey;	
    height: 10px;
    border-radius: 5px;
}

.range_values {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 600px;
    margin-top: 8px;
    position: relative;
}

.range_values span:first-child {
    transform: translateX(-10px);
}

.range_values span:last-child {
    transform: translateX(10px);
}
