@use "../../styles/main.scss" as *;

.floating_card_component{
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    @include card;
    border-radius: 5px 0 0 0;
    position: fixed !important;
    width: fit-content;
    height: fit-content;
    z-index: 1000;
    padding: 5px;
    background-color: $basic-white;
    bottom: 0;
    right: 0;
    z-index: 10000;
}