@use "../../styles/main.scss" as *;
.main_footer_container{
    height: fit-content;
    @include gap;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-top: 1px solid $basic-grey;
    .main_footer_header{
        @include gap;
        flex-direction: column;
        h2{
            color: $primary-blue;
        }
    }
    .main_footer_body{
        @include gap;
        flex-direction: column;
    }
    .footer_sub_element{
        display: flex;
        gap: 5px;
        flex-direction: column;
        h3{
            color: $primary-blue;
        }
    }
}