@use "../../styles/main.scss" as *;
.main_footer_container{
    height: fit-content;
    @include gap;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 10px 20px 10px;
    border-top: 1px solid $basic-grey;
    div{
        @include gap;
        flex-direction: column;
        justify-content: left;
    }
    :first-child{
        width: 20vw;
    }
}