@use "../../styles/main.scss" as *;

.input_component {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: fit-content;
    label {
        display: flex;
        gap: 4px;
        input:checked + span {
            color: $primary_blue;
        }
    }
    * {
        cursor: pointer;
    }
}


