@use "../../styles/main.scss" as *;

.map_buttons {
    @include gap;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1000;
    flex-direction: column;
    align-items: end;
    .map_buttons_default{
        @include card;
        background-color: $basic-white;
        .logo_container{
            border-bottom: solid 2px $basic-grey;
            cursor: pointer;
            @include transition;
        }:last-child{
            border: none;
        }
        .logo_container:hover{
            background-color: $basic-grey;
        }:last-child{
            border-radius: 0 0 5px 5px; 
        }:first-child{
            border-radius: 5px 5px 0 0;
        }
    }
    .map_buttons_children {
        @include card;
        background-color: $basic-white;
        padding: 8px;
        cursor: default;
        overflow: hidden; 
        transition: opacity 0.25s ease-out, max-height 0.3s ease-out;
        max-height: 70%; 
        .input_component {
          cursor: pointer;
        }
    }
      
    .map_buttons_children.hidden {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
    }
}

@media (max-width: 760px) {
    .map_buttons{
        top: 12px;
    }
}
