@use "../../styles/main.scss" as *;

.percentile-selector {
  display: flex;
  gap: 15px;
  background: $shade-ligthest-grey;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px $shade-dark-grey;
  justify-content: center;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  
  input {
    display: none;
  }
  
  &:hover {
    background: $shade-lighter-grey;
  }
  
  &.selected {
    background: $secondary-blue;
    color: white;
  }
}
