@use "../../styles/main.scss" as *;

.search_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $basic-white;
    border-radius: 5px;
    @include blueEffect;
    input{
        height: 30px;
        background-color: unset;
        border: none;
        outline: none;   
        border-radius: 5px 0 0 5px;
        padding-left: 10px;
        font-size: 1rem;
        font-family: "Roboto-Regular";
    }
    input::placeholder{
        color: $basic-black;
    }

    &:has(input:focus) {
        @include blueEffectFocus;
        input::placeholder{
            color: $primary-blue;
        }
    }
}