@use "../../styles/main.scss" as *;

.slider_container {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    margin-bottom: 10px;
    .slider_track {
        height: 6px;
        background-color: $basic-grey;
        border-radius: 3px;
        .slider_thumb {
            top: -7px;
            width: fit-content;
            padding: 0 3px;
            height: fit-content;
            border-radius: 3px;
            background-color: $primary-blue;
            cursor: ew-resize;
            text-align: center;
            color: $basic-white;
        }
    }
    .slider_text{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }
}

.slider_container.doubled{
  display: flex;
  flex-direction: column;
  align-items: center;
  .slider_track {
    width: 95%;
    .slider_thumb-0{
      transform: translateX(-10px);
    }
    .slider_thumb-1{
        transform: translateX(5px);
    }
  }
}
  