@use "../../styles/main.scss" as *;

.legend_container {
    padding: 8px;
    height: 20%;
    width: 100%;
    gap: 4px;
    .legend_header {
        height: calc(50% - 2px);
        font-weight: bold;
    }
    .legend_body {
        display: flex;
        flex-direction: row;
        gap: 6px;
        height: calc(50% - 2px);
        .legend_item{
            display: flex;
            flex-direction: row;
            gap: 4px;
            justify-content: center;
            align-items: center;
            .legend_color_box {
                width: 15px;
                height: 15px;
                border-radius: 4px;
            }
            .legend_label{
                font-size:0.7rem;
            }
        }
        
    }
}

@media (max-width: 760px) {
    .legend_container {
        .legend_header {
            display: none;
        }
    }    
}





