@use "../../styles/main.scss" as *;

.legend_container {
    height: 50px;
    width: 100%;
    @include gap;
    flex-direction: column;
    .legend_body {
        @include gap;
        flex-direction: row;
        height: calc(50% - 2px);
        .legend_item{
            @include gap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .legend_color_box {
                width: 15px;
                height: 15px;
                border-radius: 4px;
            }
            .legend_label{
                font-size:0.7rem;
            }
        }
        
    }
}

@media (max-width: 760px) {
    .legend_container {
        @include gap;
        flex-direction: row;
        align-items: center;
        .legend_header{
            display: none;
        }
    }    
}





