@use "../../styles/main.scss" as *;
.loading_bar {
    width: 160px;
    background-color: $basic-grey;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    .loading_bar_state {
      background-color: $primary-blue;
      transition: width 0.3s ease-in-out;
      color: $basic-white;
    }
  }
  